@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/css/Background.css" />

<link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" /> 
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
